body
    background-color #f6f6f6 
    font-size 14px
    font-family: 'Roboto', sans-serif;

h2,h3,h4,h5,ul,body,html
    padding 0px
    margin 0px

.mtop16
    margin-top 16px

.mtop10
    margin-top 10px

.mtop8
    margin-top 8px

.mb32
    margin-bottom 32px

.wrapper
    min-height 100vh
    overflow hidden
    .col1
        float left
        position relative
        z-index 999
        width 17%
    .col2
        float left
        width 83%

.sidebar
    background-color #000000
    min-height 110vh
    .section-top
        background-color #e6e6e6
        box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
    .logo
        display block
        margin 0px auto
        padding-top 24px
        width 50%
    .user
        color #020303 !important
        padding 16px
        a 
            color #020303
            font-size 1.2em

.main
    display block
    margin-top 8px
    ul
        li
            margin-bottom 4px
            a
                color #e6e6e6 !important
                display block
                font-size 1.1em
                padding 12px 12px
                text-decoration none
                i
                    margin-right 10px
                &:hover
                    background-color #e6e6e6
                    color #000000 !important
                    box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
                    text-decoration none
            a.active
                background-color #e6e6e6
                color #000000 !important
                box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
                text-decoration none

.navbar
    background-color #e6e6e6
    a
        color #020303 !important

.page
    padding-top 16px
    padding-bottom 16px
    .breadcrumb
        background-color #e6e6e6
        box-shadow 0 0.5rem 1rem rgba(0,0,0,0.10) !important
        .breadcrumb-item
            margin-left: 8px
            padding-top: 8px
            padding-bottom: 8px
            a
                text-decoration none
                color #020303 !important
                &:hover
                    text-decoration none !important
.panel
  background-color #e6e6e6
  border-radius 6px
  border-bottom 2px solid #020303
  width 100%

  .header
    border-bottom 1px solid #8C8888

    h2.tittle
      display inline-block
      color #19213d
      font-size 1.1em
      padding 12px 16px

    ul
        display inline-block
        float right
        margin-right 12px
        li
            display inline-block
            position relative
            a
                display inline-block
                padding 10px
                text-decoration none
                color #020303
                &:hover
                    background-color #f6f6f6
                i
                    color #1e90ff
            ul
                display none
                background-color #e6e6e6
                border 1px solid #EBEBEB
                float none
                position absolute
                right -16px
                width 200px
                li
                    display inline-block
                    border-bottom 1px solid #EBEBEB
                    width 100%
                    &:last-child
                        border-bottom 0px
                    a
                        display block
                        width 100%
            &:hover
                ul
                    display block

  .inside
    padding 16px

    .form_search
        display none
        margin-bottom 16px
        .btn
            width 100%
    .big_count
        display block
        font-size 2em
        text-align center
        width 100%

    .nav
      .nav-link
        color #020303
        border 1px solid #020303
        margin-right 8px
        margin-top 10px

        &:hover
          background-color #020303
          color #e6e6e6


  .opts
    a
      border-radius 4px
      border 1px solid #dedede
      display inline-block
      padding 8px 12px




.product_gallery
    overflow hidden
    .btn-submit
        display block
        margin-right 1%
        width 100%
        a
            border 1px dashed #6666
            border-radius 4px
            color #333
            display block
            font-size 1.5em
            text-align center
            padding 12px
            width 100%
            &:hover
                background-color #020303
                color #e6e6e6
.tumbs
    overflow: hidden
    margin-top: 16px
    
    .tumb
        float: left
        margin-top 16px
        position: relative
        width: 48%
        
        a
            background-color: rgb(0, 0, 0, .5)
            border-radius: 50%
            display: inline-block
            color: #fff
            padding: 6px 10px
            position: absolute
            bottom: 8px
            right: 8px
        
        img
            border-radius: 4px
            width: 100%
        
        &:nth-child(odd)
            margin-right: 4%


.page_user
  .mini_profile
    .avatar
      display block
      margin 0px auto
      border-radius 50%
      width 150px
    .info
      background-color #e6e6e6
      span
        display block
        font-size 1em
        width 100%
      span.title
        font-weight bold
        margin-top 16px
    .btn
        margin-top: 16px
        width 100%

.dropdown
    .btn-filtrar
        background-color #020303
        border-color #e6e6e6
        &:active
            background-color #020303
            color #e6e6e6

.alert
    ul
        list-style-position inside
        margin-left 16px


.slider_content
    background-color #f9f9f9
    border-radius 4px
    padding 16px
    h2
        font-size 1.4em
        margin 0px
        padding 0px
    h1
        font-size 1.6em
        font-weight bold